## ===== LangGraph 核心 =====
#langgraph>=0.1.0
#langchain>=0.3.0
#langchain-core>=0.3.0
#langchain-openai>=0.1.0
#
## ===== Web 服务 =====
#fastapi>=0.115.0
#uvicorn>=0.30.0
#streamlit>=1.38.0
#
## ===== 数据与配置 =====
#pydantic>=2.0.0
#python-dotenv>=1.0.0
#requests>=2.31.0
#
## ===== 论文处理相关 =====
#arxiv>=2.0.0
#pypdf>=4.0.0
#tiktoken>=0.7.0

aiohappyeyeballs
aiohttp
aiosignal
aiosqlite==0.22.1
altair==6.0.0
annotated-doc
annotated-types
anyio
arxiv
asgiref
async-timeout
attrs
backoff
backports.zstd
bcrypt
blinker
Brotli
build
cachetools==7.0.4
certifi
cffi
charset-normalizer
chromadb==1.5.5
click
colorama
coloredlogs
cryptography
dataclasses-json
datasets==4.8.4
Deprecated
dill==0.4.1
distro
dnspython
durationpy
email-validator
exceptiongroup
fastapi
fastapi-cli
feedparser
filelock
filetype==1.2.0
flatbuffers
frozenlist
fsspec
gitdb==4.0.12
GitPython==3.1.46
google-auth
googleapis-common-protos
greenlet
grpcio==1.67.1
h11
h2
hf-xet
hpack
httpcore
httptools
httpx
httpx-sse
huggingface_hub
humanfriendly
hyperframe
idna
importlib_metadata
importlib_resources
Jinja2
jiter==0.13.0
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
kubernetes
langchain
langchain-chroma==1.1.0
langchain-classic==1.0.2
langchain-community
langchain-core==1.2.20
langchain-nvidia-ai-endpoints==1.1.0
langchain-openai==1.1.11
langchain-text-splitters
langgraph
langgraph-checkpoint
langgraph-checkpoint-sqlite==3.0.3
langgraph-prebuilt
langgraph-sdk
langsmith
markdown-it-py
MarkupSafe
marshmallow
mdurl
mmh3
monotonic
mpmath
multidict
multiprocess==0.70.19
mypy_extensions
narwhals==2.17.0
numpy
oauthlib
onnxruntime==1.23.2
onnxruntime
openai==2.29.0
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
orjson
ormsgpack
overrides
packaging
pandas==2.3.3
pdfminer.six
pillow==12.1.1
posthog
propcache
protobuf
pulsar-client
pyarrow==23.0.1
pyasn1
pyasn1_modules
pybase64
pycparser
pydantic
pydantic-settings
pydantic_core
pydeck==0.9.1
Pygments
PyJWT
PyMuPDF==1.27.2.2
pyOpenSSL
pypdf==6.7.5
PyPika
pyproject_hooks
pyreadline3
PySocks
python-dateutil
python-dotenv
python-multipart
pytz==2026.1.post1
pyu2f
PyYAML
referencing
regex==2026.2.28
requests
requests-oauthlib
requests-toolbelt
rich
rich-toolkit
rpds-py
rsa
sgmllib3k
shellingham
six
smmap==5.0.3
sniffio
SQLAlchemy
sqlite-vec==0.1.7
starlette
streamlit==1.55.0
sympy
tenacity
tiktoken==0.12.0
tokenizers
toml==0.10.2
tomli
tornado==6.5.4
tqdm
typer==0.24.0
typer-slim==0.24.0
typing-inspection
typing_extensions
typing_inspect
typing_utils
tzdata==2025.3
urllib3
uuid_utils
uvicorn
watchdog==6.0.0
watchfiles
websocket-client
websockets
win_inet_pton
wrapt
xxhash
yarl
zipp
zstandard==0.25.0